@use "../../styles/variable.scss" as *;

.our__services__section {
  padding: 100px 0 70px;
  background-color: #f6f3f3;
  &__title {
    margin-bottom: 15px;
    text-align: center;
  }
  &__description {
    text-align: center;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    &__card {
      flex: 0 0 auto;
      width: 100%;
      padding-left: calc(1.5rem * 0.5);
      padding-right: calc(1.5rem * 0.5);
      margin-bottom: 30px;
      @media ($phone) {
        width: 50%;
      }
      @media ($tablet) {
        text-align: center;
      }
      @media ($desktop) {
        width: 33.33333333%;
      }
      &__icon {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 35px;
        text-align: center;
        border-radius: 100%;
        color: #fff;
        display: inline-block;
        transition: all 0.5s ease;
        background-color: #13c4a1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto 30px;
        @media ($tablet) {
            margin: 0 auto 30px 0;
        }
      }
      &__title {
        margin-bottom: 10px;
        text-align: center;
        @media ($tablet) {
          text-align: start;
        }
      }
      &__description {
        text-align: center;
        @media ($tablet) {
          text-align: start;
        }
      }
    }
  }
}
