@use "../../styles/variable" as *;

.feedback__section {
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../image/client/feedback-bg.jpg);
  padding: 100px 0;

  &__feedback__list {
    &__quotes__icon {
      background: linear-gradient(
        to left top,
        #ff2c9c,
        #ff287b,
        #ff395a,
        #ff5137,
        #ff6a00
      );
      width: 70px;
      height: 70px;
      border-radius: 50%;
      text-align: center;
      line-height: 65px;
      margin: 0 auto 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__slider {
      text-align: center;
      max-width: 755px;
      margin: 0 auto;

      &__my__swiper {
        
      }

      &__description {
        margin: 0;
        color: #18181b;
        font-size: 25px;
        font-weight: 600;
        font-style: italic;
      }
      &__bar {
        position: relative;
        margin: 20px auto;
        height: 35px;
        width: 2px;
        background: linear-gradient(
          to left top,
          #ff2c9c,
          #ff287b,
          #ff395a,
          #ff5137,
          #ff6a00
        );
      }
      &__title {
        font-size: 20px;
        margin-bottom: 5px;
      }
      &__meta {
        display: block;
        color: #646464;
        font-size: 14px;
      }
    }
  }
}
